@model Pierwszy.Models.Kalkulator
@{
    ViewData["Title"] = "KalkulatorForm";
}

<h1>KalkulatorForm</h1>

<form asp-action="Wynik">
    <input type="number" asp-for="Liczba1" />
    <input type="number" asp-for="Liczba2" />
    <select asp-for="Dzialanie">
        <option value ="d"> Dodawanie</option>
        <option value="o"> Odjemowanie</option>
        <option value="m"> Mnozenie</option>
        <option value="dz"> Dzielenie</option>
    </select>
    <input type="submit" />
</form>


